@import "../setting/animation.css";
#project {
    padding-top: 100px;
}

.project__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.project__wrap > .wrap {
    width: 10%;
    padding-right: 1rem;
}

.wrap > .icon > .arrow > svg {
    width: 6vw;
    height: 6vw;
    animation: arrowAnimation 1.4s infinite;
}
/* left */

.project__wrap > .text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__wrap > .text .text__main {
    font-size: 5vw;
    font-weight: 600;
    line-height: 120%;
}

@media (max-width: 1300px) {
    .project__more a svg {
        /* display: none; */
    }
}

@media (max-width: 800px) {
    .project__wrap {
        display: block;
    }
    .wrap {
        display: none;
    }
    .project__wrap .text .text__main {
        padding-left: 0;
        font-size: 4.6vw;
        text-align: center;
    }
    .project__wrap > .text > .project__flexBox {
        display: block;
    }
    .project__wrap > .text > .project__flexBox .leftFlex {
        display: none;
    }
    .project__wrap > .text > .project__flexBox > .rightFlex {
        width: 100%;
    }
    .project__wrap > .text > .project__flexBox > .rightFlex > .desc__title {
        width: 53%;
        font-size: 2.8vw;
    }
    .project__flexBox > .rightFlex > .desc__title:before {
        top: 63%;
    }
    .project__wrap > .text > .project__flexBox > .rightFlex p {
        font-size: 2vw;
    }
    .project__wrap > .text > .project__flexBox > .rightFlex > .project__more a {
        width: 50%;
        font-size: 2.6vw;
    }
    .text > .project__flexBox > .rightFlex > .project__more a svg {
        top: 30% !important;
        width: 2.5vw !important;
        height: 2.5vw !important;
    }
}
