@keyframes arrowAnimation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes arrowAnimation2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 200px; /* 충분히 큰 값으로 설정 */
        opacity: 1;
    }
}
@keyframes collapse {
    from {
        max-height: 1000px; /* 충분히 큰 값으로 설정 */
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}
