.INTROHIDDEN {
    overflow: hidden;
}
.IMGHIDDEN {
    overflow: hidden;
}

.PROJECTHIDDEN {
    overflow: hidden;
}
.ARROWHIDDEN {
    overflow: hidden;
}

.HIDDEN {
    overflow: hidden;
}

@media (max-width: 800px) {
    .INTROHIDDEN {
        text-align: left;
    }
}
